DINGTALK_APP_KEY=dingi3igrilpyoaefouk
DINGTALK_APP_SECRET=replace_with_local_client_secret
DINGTALK_AGENT_ID=4738190067
DINGTALK_APP_ID=3fae3f38-bffa-48f1-abb6-70125f40dd71
DINGTALK_CHANNEL_NAME=财务报销机器人
DINGTALK_OPERATOR_USER_ID=replace_with_finance_bot_user_id
DINGTALK_OPERATOR_UNION_ID=replace_with_finance_bot_union_id
DINGTALK_PROCESS_CODE=PROC-DF1F74D9-C010-4683-B8F8-9C441A2F60AD
DINGTALK_START_TIME=2026-07-01T00:00:00+08:00
DINGTALK_END_TIME=2026-07-31T23:59:59+08:00
DINGTALK_OA_CALLBACK_TOKEN=replace_with_local_shared_callback_token
DINGTALK_FINANCE_OCR_URL=
DINGTALK_FINANCE_OCR_TIMEOUT_SECONDS=30
DINGTALK_FINANCE_OCR_SERVICE_HOST=127.0.0.1
DINGTALK_FINANCE_OCR_SERVICE_PORT=6194
DINGTALK_FINANCE_OCR_COMMAND="tesseract {input} stdout -l chi_sim+eng --psm 6"
DINGTALK_FINANCE_OCR_COMMAND_TIMEOUT_SECONDS=60
DINGTALK_FINANCE_OCR_MAX_BYTES=20971520
DINGTALK_FINANCE_TOOL_AUTH_MODE=dingtalk_oauth
DINGTALK_FINANCE_TOOL_BASE_URL=http://127.0.0.1:6192
DINGTALK_FINANCE_ALLOWED_UNION_IDS=
DINGTALK_FINANCE_REVIEWER_NAME=覃献芳
DINGTALK_FINANCE_REVIEWER_USER_ID=replace_with_qin_xianfang_user_id
DINGTALK_FINANCE_REVIEWER_UNION_ID=replace_with_qin_xianfang_union_id
DINGTALK_FINANCE_GENERAL_MANAGER_KEYWORDS=杨国民,杨总
DINGTALK_FINANCE_NOTIFY_ENABLED=0
DINGTALK_FINANCE_NOTIFY_USER_IDS=
DINGTALK_FINANCE_NOTIFY_ON=issues
DINGTALK_FINANCE_TOOL_TOKEN=replace_with_optional_local_fallback_token
DINGTALK_FINANCE_STREAM_ENABLED=1
DINGTALK_FINANCE_AUTO_SCAN_SECONDS=0
DINGTALK_FINANCE_AUTO_SCAN_LIMIT=20
DINGTALK_FINANCE_AUTO_SCAN_SKIP_REVIEWED=0
